{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<div class="container bg-light clearfix">
    <h2 class="mb-3"> {% trans "all recipes"|capfirst %} </h2>
    {% for recipe in recipe_list %}
    <ul class="list-group">
        <li class="list-group-item">{% if recipe.cover %}<img src="{{ recipe.cover.url }}" class="img-thumbnail" style="width:7%;  max-height: 70px;" >
            {% else %}<img src="{% static 'recipes/images/missing.jpg' %}" class="img-thumbnail" style="width:7%;  max-height: 70px;">{% endif %}
        <a href="{% url 'recipe' recipe.id %}"><h4 style="display: inline;" >{{ recipe }}</h4></a> 
        {% include 'recipe_site/includes/recipe_rating.html' %}
        <div class="float-right"> {% trans "created" %}: {{ recipe.created_at }}</div>
        </li>
    </ul>
    {% endfor %}
    {% if recipe_list.count > 0 %}
    {% include 'recipe_site/includes/paginator.html' %}
    {% endif %}
</div>

{% endblock content %}